body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.HeadText {
    border: 2px solid black;
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
}

.button {
    width: 50%;
    text-align: center;
    border: 2px solid black;
    padding: 10px;
}

.button-row {
    width: 54.7%;
    display: flex;
    justify-content: center;
    gap: 0%;
}

.container {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 40%;
    width: 100%;
}

a{
    text-decoration: none;
    color: black;
}
